/****** General ***********/
* {
    box-sizing: border-box;
  }

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}

/*header ***************************** */

header nav img {
    width: 61.09px;
    height: 19px;
}

header nav h1 {
    margin-top: 35px;
    margin-bottom: 0;
    color: black;
}

header nav p {
    margin-top: 0;
    margin-bottom: 30px;
    color: black;
}

header nav a {
    text-decoration:none;
    padding-right: 50px;
    color: black;
}

.heb-act {
    display: flex;
    justify-content: flex-end;
}

/* filtres ******************** */

.filtre {
    font-weight: 700;
    font-size: 17px;
    padding-top: 14px;
}

.container-filtres {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.border-radius {
    padding: 14px;
    font-weight: 700;
    font-size: 17px;
    border: 2px solid #D9D9D9;
    border-radius: 35px;
    background-color: white;
}

.icone {
    color:#0065FC;
    margin-right: 9px;
}

/*hover ******************* */

.menu__item {
    display: inline-block;
  }
  
  .menu__item:before {
   content: "";
   display: block;
   height: 0.15em;
   width: 0%;
   margin-bottom: 5px;
   background-color: #0065FC;
  }
  
  .menu__item:hover:before {
   width: 100%;
  }

 a:hover {
    color: #0065FC;
}

.border-radius:hover {
    background: #DEEBFF;
}

/*box search******************* */

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .inputgps {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
  }

  .input {
    width: 200px;
    height: 49px;
    padding: 0 1rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: black;
    border: 1px solid #F2F2F2;
    background-color: transparent;
  }
  
  .button--submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 16px;
    border: 0px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: #F2F2F2;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

/*i Informations ************** */

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}

.container-info {
    display: flex;
    flex-direction: row;
    margin-top:20px;
    margin-bottom: 20px;
}

.phrase-info {
    margin-top: 7px;
    margin-left: 15px;
}

/* Hébergements **************** */

.hebergements-title {
    display: flex;
    align-items: center;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border: 5px solid #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.h-card {
    background-color: white;
    border-radius: 20px;
    width: 250px;
    /* width 31% */
    padding: 0px 0px 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.h-card img {
    object-fit: cover;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .h-card-rating {
    font-size: 20px;
    margin-bottom: 5px;
}

.hebergements-cards .h-card {
    margin-top: 33px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content : space-between;
}

.afficher {
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
}

/* Activités ************************* */

.a-card {
    background-color: white;
    border-radius: 20px;
    width: 297px;
    /* width 22% */
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activities-title {
    display: flex;
    align-items: center;
}

.activities-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.a-card img {
    object-fit: cover;
}

.activities-cards .card-title {
    margin: 5%;
}

.activities-cards .a-card {
    margin-top: 33px;
}

.activities {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

/* footer ************************************* */

footer {
    margin-top: 50px;
    background-color: var(--main-bg-color);
}

.h-footer {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20%;
}

.footer-box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* test ******************* */

article:nth-child() {

}